*{
    padding : 0;
    margin : 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}

section{
    height: 742px;
    border: black solid;
}
.hero{
    height: 742px;
    width: 100%;
    background-image: url("https://image.freepik.com/free-photo/black-concrete-wall_24972-1046.jpg");
    background-size: cover;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8% ;
    padding-bottom: 15px;
}
.navigation{
    color: white;
	font-size: 35px;
	letter-spacing: 1px;
}

span{
    color: #00f9f9;
}

    nav ul li{
        list-style-type: none;  
        display: inline-block;
        padding: 10px 25px;
    }
    nav ul li a {
        color: white;
        font-weight: bold;
        text-transform: capitalize;
    }
    nav ul li:hover{
        background-color: black;
    }
    nav ul li a:hover{
        color: #00f9f9;
    }
.logo{
    margin-left: 200px;
    margin-top: 80px;
    
}
.logo img{
    float: left;
    height: 250px;
    width: 250px;
    border-radius: 200px;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.introduce{
    color: white;
    
    text-align: center;
    line-height: 1.6;
}
.introduce h1{
    font-size: 70px;
}
.introduce h3{
    font-size: 30px;
    color: rgba(211, 255, 217, 0.959);
}
.introduce h4{
    font-size: 30px;
    
}
input{
    position: relative;
    margin: 30px;
}
.email{
    width: 20%;
    padding: 14px;
	border: 2px solid #15dcff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	border-radius: 30px;
}

.start{
    margin-left: 20px;
    width: 8%;
    padding: 10px 10px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-image: url("https://miro.medium.com/max/1200/1*geZHdCqMeayhMzPlRQ1toQ.png");
    background-size: cover;
   
}
.about img{
    height:300px;
    width: 430 px ;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
.about-text{
    width: 550px;

}
.main{
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f1d1dd3;
}
.about-text h2{
    color:white;
    font: size 75px; ;
    text-transform: capitalize;
    margin: bottom 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;

}
.about-text p{
    color : #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #00f9f9;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition : 0.4s;

}
button:hover{
    background-color: transparent;
    border: 2px solid #00f9f9;
}
.skills{
    background-color: black;
    height: 742px;
    color: white;
    background-image: url("https://image.freepik.com/free-photo/black-concrete-wall_24972-1046.jpg");
    background-size: cover;
}
.box{
    justify-content: center;
    align-items: center;
    display: flex;
}
.title{
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 30px ;
    color: aquamarine;
}
.card{
	height: 500px;
	width: 335px;
	padding: 20px 35px;
	background: #3f3c3c;
	border-radius: 20px;
	margin: 15px;
	
	
	text-align: center;
}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}   
.card p {
    font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card > img{
    padding: 20px;
    height: 200px;
    width: 200px;
}
.contact{
   
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-image: url("https://image.freepik.com/free-photo/black-concrete-wall_24972-1046.jpg");
    background-size: cover;
}
.contact h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    
   
    color: aquamarine;
}

.contact .content{
    max-width: 800px;
    text-align: center;

}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: white;

}
.contact .content h2{
    font-size: 36px;
    font-weight: 300;
    color: white;
    
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.box2{
    position: relative;
    padding: 20px 0 ;
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.icon{
    
    
    display: flex;
    
    align-items: center;
    border-radius: 50%;
    font-size: 40px;
    color: aquamarine;
}

.text{
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: rgb(73, 206, 206);
}
.text p{
    color: white;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background-color: white;
    
}
.contactForm h2{
    font-size: 30px;
    color : #333333;
    font-weight: 500;


}
.inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
}
.inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #333333;

}
footer{
    justify-content: center;
    text-align: center;
    background-image: url("https://image.freepik.com/free-photo/black-concrete-wall_24972-1046.jpg");
    color: white;
    padding: 20px;
}

.social{
	display: flex;

    justify-content: center;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  rgb(73, 206, 206);
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	
	color:rgb(73, 206, 206);
	bottom: 35px;
	font-size: 14px; 
}
/* .
email{
    padding: 14px 200px 14px 15px;
	border: 2px solid #f9004d;
	
	border-radius: 30px;
}
.start{
    outline: none;
	
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
} */
/* .input form input:first-child{
	
	
	padding: 14px 200px 14px 15px;
	border: 2px solid #f9004d;
	
	border-radius: 30px;
}
.input form input:last-child{
	
	
	outline: none;
	
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
} */
